*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: #7fa9ff;
}

html {
  line-height: 1.5;
  font-family: "Helvetica Neue";
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

button,
input,
select {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
}

button,
select {
  cursor: pointer;
}

select {
  height: 30px;
}

h1,
p {
  margin: 0;
}

.flex {
  display: flex;
}

.width {
  width: 10rem;
}

.justify-center {
  justify-content: center;
}

.gap {
  gap: 1.75rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.border {
  border-width: 2px;
}
